<h2>Address:</h2>
<form class="flex column">
    <div class="flex gap-2">
        <mat-form-field>
            <mat-label>Street</mat-label>
            <input matInput id="street" class="form-control" [control]="form.address.street" />
            @for(error of form.company.name().errors(); track error){
            <mat-error>{{error.message}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>Suite</mat-label>
            <input matInput id="suite" class="form-control" [control]="form.address.suite" />
            @for(error of form.company.name().errors(); track error){
            <mat-error>{{error.message}}</mat-error>
            }
        </mat-form-field>
    </div>
    <div class="flex gap-2">
        <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput id="city" class="form-control" [control]="form.address.city" />
            @for(error of form.company.name().errors(); track error){
            <mat-error>{{error.message}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field>
            <mat-label>ZipCode</mat-label>
            <input matInput id="zipcode" class="form-control" [control]="form.address.zipcode" />
            @for(error of form.company.name().errors(); track error){
            <mat-error>{{error.message}}</mat-error>
            }
        </mat-form-field>
    </div>
</form>